@tailwind base;
@tailwind components;
@tailwind utilities;

.out-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.out-input {
  outline: none;
  box-shadow: none;
  border: none;
}

body::-webkit-scrollbar {
  width: 16px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(15 23 42);;    /* color of the scroll thumb */
  border-radius: 22px;       /* roundness of the scroll thumb */
  border: 4px solid white;  /* creates padding around scroll thumb */
}

